<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
        
    <title>IF you're using IE please fuck off</title>
    <meta name="description" content="Please kill me">
    <meta name="author" content="A total failure">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 3D buttons -->
    <link rel="stylesheet" href="../static/buttons.css"/>

    <style>
        #stream
        {
            min-width: 100px;
            width: 100%;
            min-height: 100px;
            height: 20em;
        }
        #keyTable
        {
            margin-top: 2em;
            min-width: 100px;
            width: 100%;
            min-height: 100px;
            height: 10em;
        }
        .keyButton
        {
            min-width: 100px;
            width: 100%;
            min-height: 100px;
            height: 1em;
        }
        td
        {
            padding: 0.3em;
        }
        body
        {
            margin:40px auto;
            max-width:650px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px
        }
        h1,h2,h3
        {
            line-height:1.2
        }
    </style>
</head>

<body>
    <!-- Polite greeting -->
    <h1>Welcome to shitland.</h1>
    <hr style="margin-bottom: 2em; margin-top: 0px;">

    <!-- The stream -->
    <img id="stream" class="img-rounded" src="/stream.mjpg" onerror="this.src='../static/tesla.jpg'">

    <!-- Connection state display -->
    <h4 id="connected" v-bind:style="{ color: statusColor}">
            {{state}}
    </h4>
    <hr>
    <!-- Authentication key input -->
    <input id="carKey" class="form-control" v-model="key" type="text" placeholder="Car Key">
    <hr>

    <!-- WASD keys -->
    <table id="keyTable">
    <tr>
        <td></td>
        <td>
            <button id="WButton" type="button" class="btn btn-default btn-lg keyButton">W</button>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <button id="AButton" type="button" class="btn btn-default btn-lg keyButton">A</button>
        </td>
        <td>
            <button id="SButton" type="button" class="btn btn-default btn-lg keyButton">S</button>
        </td>
        <td>
            <button id="DButton" type="button" class="btn btn-default btn-lg keyButton">D</button>
        </td>
    </tr>
    </table>

    <script>
    // displays the connection state to the car
    var connected = new Vue({
        el: '#connected',
        data: {
            status: false,
            authenticated: false
        },
        computed: {
            state: function () {
                return this.authenticated ? (this.status ? "Connected" : "Not connected") : "Not authenticated";
            },
            statusColor: function () {
                return this.status  && this.authenticated ? "green" : "red";
            }
        }
    });
    // gets the car key textbox data
    var carKey = new Vue({
        el: '#carKey',
        data: {
            key: ""
        }
    });

    // maps keycodes to keys
    var keys = {};
    keys[87] = "W";
    keys[65] = "A";
    keys[83] = "S";
    keys[68] = "D";

    // makes sure keydown only is called once per WASD key press
    // also keeps track of what keys are pressed down
    var pressed = {};
    pressed[87] = false;
    pressed[65] = false;
    pressed[83] = false;
    pressed[68] = false;

    // makes sure mousedown only is called once per click of onscreen WASD buttons
    // also keeps track of what key buttons are pressed down
    var mousePressed = {};
    mousePressed[87] = false;
    mousePressed[65] = false;
    mousePressed[83] = false;
    mousePressed[68] = false;

    // jquery bindings
    $(document).ready(function() {
        // WASD press and release
        $(document).keydown(function(event) {
            if (event.which in keys && !pressed[event.which])
            {
                $(`#${keys[event.which]}Button`).addClass("active");
                pressed[event.which] = true;
            }
        });
        $(document).keyup(function(event) {
            if (event.which in keys)
            {
                $(`#${keys[event.which]}Button`).removeClass("active");
                pressed[event.which] = false;
            }
        });
        // WASD onscreen button press and release
        for (var property in keys) {
            if (keys.hasOwnProperty(property)) {
                $(`#${keys[property]}Button`).mousedown(function() {
                    mousePressed[property] = true;
                });
            }
        }
        $(document).mouseup(function() {
            for (var property in keys) {
                if (keys.hasOwnProperty(property)) {
                    mousePressed[property] = false;
                }
            }
        });
    });

    // uses value of carKey textbox, pressed and mousePressed to generate data to send to server
    function getInput()
    {
        var input = {key: carKey.key};
        for (var property in keys) {
            if (keys.hasOwnProperty(property)) {
                input[keys[property]] = pressed[property] || mousePressed[property];
            }
        }
        return input;
    }

    // constantly ping the server with state
    function pollServer()
    {
        $.ajax({
            url: "/fuck",
            method: "POST",
            data: getInput(),
            success: function(data) {
                connected.authenticated = data !== "They key don't fit pardner";
                connected.status = data;
                setTimeout(pollServer, 33);
            },
            error: function() {
                connected.status = false;
                setTimeout(pollServer, 33);
            },
        });
    }
    pollServer();

    </script>
</body>
</html>